 @import url('https://fonts.googleapis.com/css?family=Space+Mono');

/* Global variables ----------------------------------------*/
:root {
	--red: #9b1d1d;
	--green: #557f4e;
	--fontcolor: #2c2c2c;
	--blue: #112080;
};

/* ========================================================================
   Global style
   ========================================================================*/

html {
	height: 100%;
}

body {
	margin: 0;
	padding-bottom: 50px;
	color: var(--fontcolor);
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: var(--blue);
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

.container {
	margin: 0;
}

h3 {
	font-weight: 400;
}

textarea, input, button {
	outline: none;
}

/* Javascript relevant ------------------------------------------*/
.button {
	width: 9px;
	height: 9px;
	display: inline;
	cursor: pointer;
}

.hide {
	display: none;
}

/* Footer -----------------------------------------------------*/

footer {
	background-color: #E0E0E0;
	height: 40px;
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index: 10;
}

footer li {
	list-style-type: none;
	padding: 11px 20px;
}

li a {
	color: #606060;
}

li a:hover {
	color: #202020;
}

.footer_wrapper {
	padding: 0 20px;
	margin: 0 auto;
}

/* Pagination --------------------------------------*/
.pagination-container {
	text-align: center;
	margin-top: 50px;
	display: block;
	clear: left;
}

.pagination > li > a,
.pagination > li > span {
	color: #606060;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #E0E0E0;
	border-color: #E0E0E0;
	color: #606060;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #606060;
}

/* ========================================================================
   Index page
   ========================================================================*/

#logo_container {
	margin: 0 auto;
	margin-top: 20%;
	width: 200px;
	text-align: center;
}

#logo {
	margin: 0 auto;
	color: var(--fontcolor);
	font-size:
}

#logo h1 {
	font-size: 40px;
	display: inline-block;
}

#logoImg {
  float: left;
	width: 50px;
	margin-top: 25px;
	margin-right: -100px;
}

/* Search bar ----------------------------------------*/

#search_bar_wrapper {
	text-align: center;
}

#search_bar_container {
	display: inline-block;
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	height: 40px;
	box-shadow: 2px 2px 6px #A0A0A0;
	background-color: #ffffff;
}

#search_bar_container > * {
	display: inline-block;
	float: left;
}

#search_icon {
	margin: 6px 8px 2px 8px;
}

#search_input {
	border: none;
	font-size: 18px;
	margin-top: 8px;
  margin-left: 5px;
	float: left;
	width: calc(100% - 45px);
}

#search_input + button {
	background-color: white;
	border: none;
	text-decoration: none;
	float: right;
	margin-top: 10px;
}

form {
	width: calc(100% - 40px);
	margin-left: -5px;
}


/* ========================================================================
   Results page
   ========================================================================*/

/* Header ---------------------------------------------*/

#results_header {
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #f8f8f8;
}

#results_header #logo {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	font-size: 32px;
}

#results_header #search_bar_wrapper {
	display: inline-block;
	margin-left: 20px;
}

#results_header #search_bar_container {
	margin-top: 0;
}

#logoImgR {
  float: left;
	width: 40px;
	margin-top: 1px;
	margin-right: -13px;
	margin-left: 20px;
}

/* Results body layout --------------------------------*/

.result_body {
	width: 100%;
}

aside {
	width: 68%;
	display: inline-block;
	vertical-align: top;
	margin-left: 85px;
}

aside > p {
	display: inline-block;
	float: left;
	color: #7b7c7b;
	margin-left: 28px;
}

aside span {
	display: inline-block;
	float: left;
	margin: 14px 0 14px 30px;
}

aside span > a:first-child {
	color: var(--blue);
}

aside span > a:last-child {
	color: var(--blue);
}

#searched {
	color: #7b7c7b;
	margin: 30px;
}

#search_sumup {
	color: #7b7c7b;
}

.pro, .con {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.pro {
	margin-left: 83px;
}

section > h2 {
	margin: 20px 30px;
	color: #303030;
	border-radius: 5px;
  border: 2px solid;
	padding: 2px;
	width: 45px;
	text-align: center;
}

.pro > h2 {
	color: var(--green);
}

.con > h2 {
	color: var(--red);
}

.stance {
	font-size: 15px;
	font-weight: bold;
	height: 50px;
	display: block;
	margin-left: 115px;
	float: left;
}

#stancePro {
	border-radius: 5px;
  border: 2px solid;
	padding: 2px;
	color: var(--green);
	width: 30px;
	text-align: center;
}

#stanceCon {
	border-radius: 5px;
  border: 2px solid;
	padding: 2px;
	color: var(--red);
	width: 30px;
	text-align: center;
}

#sections_splitter {
	display: inline-block;
	height: 100%;
	min-height: 100px;
	width: 1px;
	margin: 0 30px;
}

#articleContainer {
	display: block;
	margin-left: 140px;
}

article {
	margin: 30px;
}

article .title,
article .source_url,
article .snippet,
article .premise,
article .conclusion {
	margin: 0;
}

article .snippet,
article .premise,
article .conclusion {
	text-align: left;
	font-size: 13px;
	color: #303030;
}

article .conclusion {
	color: #000;
}

article .title {
	font-size: 18px;
	line-height: 18px;
	color: var(--blue);
}

#proArticle .title {
	font-size: 18px;
	line-height: 18px;
	color: var(--green);
}

#conArticle .title {
	font-size: 18px;
	line-height: 18px;
	color: var(--red);
}

#stancePro, #stanceCon {
	float: left;
}


article .source_url {
	font-size: 13px;
	line-height: 13px;
	color: #808080;
	text-decoration: none;
}

#noArg {
	margin: 30px;
}

#noArg_overall {
	margin-left: 113px;
}

.overall_section {
	width: 800px;
}

/* Explanation  --------------------------------*/
.modal-dialog {
	width: 60%;
	max-width: 980px;
}

.modal-body {
	overflow: scroll;
	max-height: 70vh;
}

.modal-body div {
	min-width: 940px;
}

.modal-title {
	font-size: 18px;
	font-weight: 400;
}

.modal-title span {
	color: var(--blue);
}

button.close {
	line-height: 1;
	float:right;
	outline: none;
	border: none;
	background-color: #fff;
	font-size: 25px;
	font-weight: 700;
	opacity: .3;
	cursor: pointer;
}

button.close:hover {
	opacity: .8;
}

button.btn-info {
	background-color: #fff;
	border: none;
	cursor: pointer;
	color: var(--blue);
}

/* ========================================================================
   HTML Subpages
   ========================================================================*/

/* General Style  --------------------------------*/

#text_container {
	width: 780px;
  margin-left: 250px;
	margin-top: 20px;
}

.text-indenting {
	margin-left: 10px;
}

.html-heading {
  font-size: 20px;
}

.paragraph {
	margin-bottom: 35px;
	line-height: 1.7em;
}

h1.headingdoc {
	font-size: 35px;
}

hr {
border: 0;
height: 0;
margin-bottom: 25px;
border-top: 2px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* API  --------------------------------*/

.highlighter {
	color: var(--green);
	font-family: 'Space Mono', monospace;
}

ul.api-list {
	line-height: 2.0em;
	color: var(--red);
}

ul > ul.api-list {
	line-height: 2.0em;
}

#list-content {
	color: var(--fontcolor);
}


/* Terms  --------------------------------*/

#contact {
	font-family: 'Space Mono', monospace;
	margin-left: 15px;
	line-height: 1.5em;
}

.contact-font-change {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
}

.terms-indenting {
	margin-left: 15px;
}

/* Help  --------------------------------*/
a.link-helpdoc {
	color: var(--blue);
}

a:hover.link-helpdoc {
	color: var(--blue);
}

h2 > a {
	font-size: 11px;
	font-weight: lighter;
}

/* ========================================================================
   Responsive Design
   ========================================================================*/
@media only screen and (max-width: 1280px) {

	/*------------results page---------------*/

	#results_page {
		width: 1280px;
	}

	.pro, .con {
		width: 512px;
		display: inline-block;
		vertical-align: top;
	}

	#index_page #search_bar_container {
		width: 90%;
		max-width: 700px;
	}
}
