<!-- Modal for result explanation -->
<div id="modal-{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Explaination for result <span>{{id}}</span></h4>
      </div>
      <div class="modal-body">
        <div>{{&doExplain}}</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<!-- End of Modal -->