<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{{contextPath}}/static/css/bootstrap-pagination.css" rel="stylesheet" />
<link href="{{contextPath}}/static/css/bootstrap-modal.css" rel="stylesheet" />
<link href="{{contextPath}}/static/css/args-stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="{{contextPath}}/static/js/args.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="icon" href="{{contextPath}}/static/img/args-logo.png" type="image/png">
