<footer>
		<div class="footer-wrapper">
			<li class="float-left"><a href="./static/html/en/args-help.html">Help</a></li>
			<li class="float-left"><a href="./static/html/en/args-terms.html">Terms</a></li>
			<li class="float-left"><a href="./static/html/en/args-privacy.html">Privacy</a></li>
			<li class="float-left"><a href="./static/html/en/args-api.html">API</a></li>
			<li class="float-right"><a href="https://www.webis.de">© 2017 Webis</a></li>
			<li class="float-right"><a href="./static/html/en/args-about.html">About</a></li>
		</div>
	</footer>
